<ActionBar title="Asetukset" class="actionbar" backgroundColor="#927fb6">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back to ActionBar" (tap)="goBack()"></NavigationButton>
    <GridLayout columns="*,auto">
        <Label class="settings" col="0" text="Asetukset" horizontalAlignment="center"></Label>
        <Image class="icon" col="1" src="~/images/asetukset_icon.png" stretch="none" horizontalAlignment="right"></Image>
    </GridLayout>
</ActionBar>

<Button text="Settings works!" class="btn btn-primary"></Button>