<GridLayout rows="*,2*,*" columns="*,105,*">
    <Image row="0" col="0" colSpan="3" class="logo" src="~/images/logo_liila.png" width="200"></Image>
    <Label row="1" col="1" textWrap="true" class="info" verticalAlignment="center" horizontalAlignment="center"
        text="Kerää leimoja ja hyödynnä edut kirjautumalla stampIO sovellukseen"></Label>
    <Image row="1" col="0" colSpan="3" class="circle" src="~/images/rinkula.png" width="300"></Image>
    <Image row="2" col="0" colSpan="3" class="sign-in" (tap)="onLogin()" src="~/images/button_google.png" width="200">
    </Image>
</GridLayout>